@page "/plates/{plateId}"
<div>
    @if (_plate != null)
    {
        <div>
            <h3>Plate Details</h3>
            <div>
                <strong>Id:</strong> @_plate.Id
            </div>
            <div>
                <strong>Number:</strong> @_plate.Number
            </div>
            <div>
                <strong>Like Ratio:</strong> @_plate.LikeRatio
            </div>
            <div>
                <strong>Culture:</strong> @_plate.Culture
            </div>
        </div>

        <div>
            <div>Comments: </div>

            <div>
                Add comment:
                <EditForm Model="_comment" OnSubmit="PostComment">
                    <div>
                        <label>Content:</label>
                        <InputTextArea @bind-Value="_comment.Content"></InputTextArea>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </EditForm>
            </div>
            <div>
                @if (_plate.Comments is not null)
                {
                    @foreach (var comment in _plate.Comments)
                    {
                        <Comment Username="@comment.AddingUserName" Content="@comment.Content" ShowActionButtons="false"></Comment>
                    }
                }
            </div>      
        </div>
    }
    else
    {
        <p>Loading...</p>
    }
</div>

<div>
    <MudPaper>
        <div>
            <EUPlate CultureCode="@_plate.Culture" Number="@_plate.Number"/>
        </div>
    </MudPaper>
    <div>

    </div>

    <div>
        <MudPaper>
        </MudPaper>
    </div>
</div>
