@page "/plates/{plateId}"
<div>
    @if (_plate != null)
    {
        <div>
            <h3>Plate Details</h3>
            <div>
                <strong>Id:</strong> @_plate.Id
            </div>
            <div>
                <strong>Number:</strong> @_plate.Number
            </div>
            <div>
                <strong>Like Ratio:</strong> @_plate.LikeRatio
            </div>
            <div>
                <strong>Culture:</strong> @_plate.Culture
            </div>
        </div>

        <div>
            <div>Comments: </div>

            <div>
                Add comment:
                <EditForm Model="_comment" OnSubmit="PostComment">
                    <div>
                        <label>Content:</label>
                        <InputTextArea @bind-Value="_comment.Content"></InputTextArea>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </EditForm>
            </div>
            <div>
                @if (_plate.Comments is not null)
                {
                    @foreach (var comment in _plate.Comments)
                    {
                        <div>
                            <strong>User:</strong> @comment.AddingUserName
                        </div>
                        <div>
                            <strong>Content:</strong> @comment.Content
                        </div>                <div>
                            <button @onclick="AddLike">Add Like</button>
                        </div>                <div>
                            <button @onclick="AddDislike">Add Dislike</button>
                        </div>
                    }
                }
            </div>      
        </div>
    }
    else
    {
        <p>Loading...</p>
    }
</div>