@page "/plates"
@using Platender.Front.Models;
@using Platender.Front.Models.Enums;
@inject HttpClient HttpClient

<style>

    .plate-list 
    { 
        display: grid;
        grid-template-rows: [first] 25% [second] auto;
        grid-column-gap: 1%;
        grid-template-columns: 25% [first] 5% [second] 25%
    }
    .plate-list-number 
    {
        grid-column: second;
        grid-row: first;
    }
    .plate-list-culture
    {
        grid-column: first;
        grid-row: first;
    }
    .plate-list-content
    {
        grid-row: second;
        grid-column: second;
    }
    .polish-plate-style
    {
        background-color: red;
    }
</style>
<form @onsubmit="() => OnValidSubmit(numbers)">
    <InputText @bind-Value="numbers" />
    <button type="submit">Submit</button>
</form>

<button @onclick="ClearPlate">Clear Plate</button>

<h1>Lista Talerzy</h1>
<div class="plate-list">
    <div class="plate-list-number @style">@plate?.Number</div>
    <div class="plate-list-culture @style">@plate?.Culture</div>
    <div class="plate-list-content">@plate?.Comments</div>
</div>
@if (isResponseNull)
{
    <div >
        <EditForm Model="@plate" OnValidSubmit="@SavePlateAsync">
            <div class="form-group">
                <label for="Number">Number:</label>
                <InputText @bind-Value="@plate!.Number"></InputText>
            </div>
            <div class="form-group">
                <label for="Culture">Culture:</label>
                <select class="form-control" @bind="@plate.Culture">
                    @foreach (var culture in Enum.GetNames(typeof(CultureCode)))
                    {
                        <option value="@culture"> @culture </option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Plate</button>
        </EditForm>
    </div>
}