@using Platender.Front.Components
@page "/plates/{plateId}"
<div>
    @if (_plate != null && _plate.Id != Guid.Empty)
    {
        <div>
            <EUPlate CultureCode="@_plate.Culture" Number="@_plate.Number"/>
            <MudCardActions style="display: flex; flex-direction: row-reverse;">
                <LikeComponent 
                Id="@_plate.Id"
                LikeAmount="@_plate.LikeAmount"
                DislikeAmount="@_plate.DislikeAmount"
                UserReaction="@_plate.UserReaction"
                LikeButtonAction="@AddOrRemoveLikeToPlateAsync"
                DislikeButtonAction="@AddOrRemoveDislikeToPlateAsync"></LikeComponent>
            </MudCardActions>
        </div>
       <div>
            <Platender.Front.Components.AddComment @ref=AddCommentField SubmitButtonAction=@PostComment></Platender.Front.Components.AddComment>
        </div>
        <div>Comments: </div>
        <div>
            <InfinityScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => HandleEndOfInfinityLoad()">
            @if (_comments is not null || _comments.Any())
            {
                @foreach (var comment in _comments)
                {
                    <div style="padding-bottom: 10px;">
                    @if(IsCommentSent && _comments.First() == comment)
                    {
                        <Comment
                            Id="@comment.Id"
                            Username="@comment.AddingUserName" 
                            Content="@comment.Description"
                            Image="@comment.Byte64Image"
                            ShowActionButtons="false" 
                            Date="Now"
                            style="background-color: yellow;"></Comment>
                        continue;
                    }
                    <Comment 
                        Id="@comment.Id"
                        Username="@comment.AddingUserName" 
                        Content="@comment.Description" 
                        Image="@comment.Byte64Image" 
                        Date="@comment.CreatedAt.ToString()" 
                        style="background-color: #DCDCDC" 
                        ShowActionButtons="true"
                        LikeAmount="@comment.LikeAmount"
                        LikeButtonAction="AddOrRemoveLikeToCommentAsync"
                        DislikeAmount="@comment.DislikeAmount"
                        DislikeButtonAction="AddOrRemoveDislikeToCommentAsync"
                        UserReaction="@comment.UserReaction"></Comment>
                    </div>
                }
                <li class="list-group-item" id="observerTarget"></li>
            }
            </InfinityScroll>
        </div>             
    }
    else
    {
        <p>Loading...</p>
    }
</div>
