@page "/plates/{plateId}"
@using Platender.Front.Components
<div>
    @if (_plate != null)
    {
        <div>
            <EUPlate CultureCode="@_plate.Culture" Number="@_plate.Number"/>
            <MudCardActions style="display: flex; flex-direction: row-reverse;">
                <MudIconButton Icon="@Icons.Material.Filled.ThumbUpOffAlt" @onclick=AddOrRemoveLikeToPlateAsync></MudIconButton>
                <MudText Style="color: #0cff04">LikeAmount</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.ThumbDownOffAlt" @onclick=AddOrRemoveDislikeToPlateAsync></MudIconButton>
                <MudText Style="color: #ff0000">DisLikeAmount</MudText>
        </MudCardActions>
        </div>
       <div>
            <Platender.Front.Components.AddComment @ref=AddCommentField SubmitButtonAction=@PostComment></Platender.Front.Components.AddComment>
        </div>
        <div>Comments: </div>
        <div>
            <InfinityScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => HandleEndOfInfinityLoad()">
            @if (_comments is not null || _comments.Any())
            {
                @foreach (var comment in _comments)
                {
                    <div style="padding-bottom: 10px;">
                    @if(IsCommentSent && _comments.First() == comment)
                    {
                        <Comment
                            Id="@comment.Id"
                            Username="@comment.AddingUserName" 
                            Content="@comment.Description"
                            Image="@comment.Byte64Image"
                            ShowActionButtons="false" 
                            Date="Now"
                            style="background-color: yellow;"></Comment>
                        continue;
                    }
                    <Comment 
                        Id="@comment.Id"
                        Username="@comment.AddingUserName" 
                        Content="@comment.Description" 
                        Image="@comment.Byte64Image" 
                        Date="@comment.CreatedAt.ToString()" 
                        style="background-color: #DCDCDC" 
                        ShowActionButtons="true"
                        FirstButtonField="@comment.LikeAmount"
                        FirstButtonAction="AddOrRemoveLikeToCommentAsync"
                        SecondButtonField="@comment.DislikeAmount"
                        SecondButtonAction="AddOrRemoveDislikeToCommentAsync"></Comment>
                    </div>
                }
                <li class="list-group-item" id="observerTarget"></li>
            }
            </InfinityScroll>
        </div>             
    }
    else
    {
        <p>Loading...</p>
    }
</div>
