@page "/plates/{plateId}"
@using Platender.Front.Components
<div>
    @if (_plate != null)
    {
        <div>
            <EUPlate CultureCode="@_plate.Culture" Number="@_plate.Number"/>
        </div>
       <div>
            <Platender.Front.Components.AddComment @ref=AddCommentField SubmitButtonAction=@PostComment></Platender.Front.Components.AddComment>
        </div>
        <div>Comments: </div>
        <div>
            <InfinityScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => HandleEndOfInfinityLoad()">
            @if (_comments is not null || _comments.Any())
            {
                @foreach (var comment in _comments)
                {
                    if(IsCommentSent && _comments.First() == comment)
                    {
                        <Comment Username="@comment.AddingUserName" Content="@comment.Description" Image="@comment.Byte64Image" ShowActionButtons="false" Date="Now" style="background-color: yellow;"></Comment>
                        continue;
                    }
                    <Comment Username="@comment.AddingUserName" Content="@comment.Description" Image="@comment.Byte64Image" Date="@comment.CreatedAt.ToString()" ShowActionButtons="true"></Comment>
                }
                <li class="list-group-item" id="observerTarget"></li>
            }
            </InfinityScroll>
        </div>             
    }
    else
    {
        <p>Loading...</p>
    }
</div>

<div>
    <MudPaper>
        
    </MudPaper>
    <div>

    </div>

    <div>
        <MudPaper>
        </MudPaper>
    </div>
</div>
