@inject IDialogService DialogService

<MudCard style=@style Elevation="25">
    <MudCardContent>
        <div style="display: flex; flex-wrap: nowrap; justify-content: space-between;">
            <div style="display: flex; flex-direction: column;">
                <MudText>@Username</MudText>
                <MudText>Avatar</MudText>
            </div>
            <MudText Style="color: #000000">@Date</MudText>
        </div> 
        <div style="margin-left: 5%; display: flex; justify-content: space-between; flex-shrink: 3;">
            <MudPaper Elevation="3" Square="true"style="width:90%; margin:0 3% 0 2%; padding: 5%; border-radius:20px;">
                <MudText >@Content</MudText>
            </MudPaper>
            @if(!string.IsNullOrWhiteSpace(Image))
            {
                <div style="max-width: 45%; ">
                <MudImage 
                    Class="cursor-zoom-in" 
                    Src=@Image 
                    ObjectFit="MudBlazor.ObjectFit.ScaleDown"
                    Style="border-radius: 20px ;"
                    @onclick="OpenDialog"
                    Fluid="true"></MudImage>       
                </div>
            }       
        </div>
    </MudCardContent>
    @if(ShowActionButtons)
    {
        <MudCardActions style="display: flex; flex-direction: row-reverse;">
            <LikeComponent 
            Id="@Id"
            LikeAmount="@LikeAmount"
            DislikeAmount="@DislikeAmount"
            LikeButtonAction="@LikeButtonAction"
            DislikeButtonAction="@DislikeButtonAction"
            UserReaction="@UserReaction"></LikeComponent>
        </MudCardActions>
    }
</MudCard>

<style>
    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>

@code {
    [Parameter]
    public Guid Id { get; set; }
    [Parameter]
    public string? style { get; set; }
    [Parameter]
    public string? Username { get; set; }
    [Parameter]
    public string? Content { get; set; }
    [Parameter]
    public string? Image { get; set; }
    [Parameter]
    public string? Date { get; set; }
    [Parameter]
    public int? LikeAmount { get; set; }
    [Parameter]
    public int DislikeAmount { get; set; }
    [Parameter]
    public bool ShowActionButtons { get; set; }
    [Parameter]
    public EventCallback<Guid> LikeButtonAction { get; set; }
    [Parameter]
    public EventCallback<Guid> DislikeButtonAction { get; set; }  
    [Parameter]
    public string? UserReaction { get; set; }

    private void OpenDialog()
    {
        var parameters = new DialogParameters<ImageDialog>();
        parameters.Add(x => x.Image, Image);
        var options = new DialogOptions { ClassBackground = "my-custom-class", CloseOnEscapeKey = true, NoHeader = true};
        DialogService.Show<ImageDialog>("Simple Dialog", parameters, options);
    }
}